<style>
.hidden_options{
  display: none;
}
</style>

<%= form_with(model: [ @survey, @question ], local: true) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :question %><br>
    <%= form.text_area :question, cols: 10, rows: 3 , class: 'form-control col-md-6' %>
  </p>
  <p>
    <%= form.label :question_type %><br>
    <%= form.select :question_type, ["Text", "Multiple Choice", "Long Answer", "Single Choice"], class: 'form-control col-md-6'  %>
    
  </p>
  
  
  <div id="mc" class="hidden_options">
  <p>
    <%= form.label :question_first_option %><br>
    <%= form.text_field :question_first_option, class: 'form-control col-md-6' %>
  </p>
  <p>
    <%= form.label :question_second_option %><br>
    <%= form.text_field :question_second_option, class: 'form-control col-md-6' %>
  </p>
  <p>
    <%= form.label :question_third_option %><br>
    <%= form.text_field :question_third_option, class: 'form-control col-md-6' %>
  </p>
  <p>
    <%= form.label :question_fourth_option %><br>
    <%= form.text_field :question_fourth_option, class: 'form-control col-md-6' %>
  </p>
  <p>
    <%= form.label :question_fifth_option %><br>
    <%= form.text_field :question_fifth_option, class: 'form-control col-md-6' %>
  </p>
  </div>

  <p>
    <%= form.submit class: 'btn btn-sm btn-dark' %>
  </p>
<% end %>


<script language="javascript">
$(document).ready(function(){
  $('#question_question_type').change(function(){
    if(this.value == 'Multiple Choice' || this.value == 'Single Choice') {
      $('#mc').removeClass('hidden_options');
    }
    
    else {
      $('#mc').addClass('hidden_options');
    }
    });
});

</script>