
<% @questions.each_with_index do |question, index| %>

<% if question.question_type == 'Text'%>
<div class="card col-md-10 mb-5 shadow-lg bg-white rounded" style="margin:auto; float:none;">
  <div class="card-header col-md-12 text-center">
    Question <%= index+1 %> of <%= @questions.count%>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= question.question%> </h5>
    <p class="card-text">Type your answer in the textbox below.</p>

    <p>
      <input type="text" class="form-control col-md-6" />
    </p>
    
  </div>
  <div class="card-footer text-right">
    <a href="#" class="btn btn-sm btn-dark">Next Question</a>
  </div>
</div>
<% elsif question.question_type == 'Multiple Choice'%>

<div class="card col-md-10 mb-5 shadow-lg bg-white rounded" style="margin:auto; float:none;">
  <div class="card-header col-md-12 text-center">
    Question <%= index+1 %> of <%= @questions.count%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= question.question%></h5>
    <p class="card-text">Check all the relevant check boxes.</p>

    
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><%= question.question_first_option%></label>
        </div>
      
       
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><%= question.question_second_option%></label>
        </div>
     
      
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><%= question.question_third_option%></label>
        </div>
      
       
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><%= question.question_fourth_option%></label>
        </div>
      
       
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"><%= question.question_fifth_option%></label>
        </div>
        
    
             
  </div>
  <div class="card-footer text-right">
    <a href="#" class="btn btn-sm btn-dark">Next Question</a>
  </div>
</div>

<% elsif question.question_type == 'Long Answer' %>

<div class="card col-md-10 mb-5 shadow-lg bg-white rounded" style="margin:auto; float:none;">
  <div class="card-header col-md-12 text-center">
    Question <%= index+1%> of <%= @questions.all.count %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%=question.question%> </h5>
    <p class="card-text">Answer in the text area below.</p>
    <p>
      <textarea rows="3" class="form-control"></textarea>
    </p>
    
  </div>
  <div class="card-footer text-right">
    <a href="#" class="btn btn-sm btn-dark">Next Question</a>
  </div>
</div>

<%elsif question.question_type == 'Single Choice'%>

<div class="card col-md-10 mb-5 shadow-lg bg-white rounded" style="margin:auto; float:none;">
  <div class="card-header col-md-12 text-center">
    Question <%= index+1 %> of <%= @questions.count%>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= question.question%> </h5>
    <p class="card-text">Select one option from the options below</p>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1"><%= question.question_first_option%></label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2"><%= question.question_second_option%></label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3"><%= question.question_third_option%></label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
          <label class="form-check-label" for="inlineRadio4"><%= question.question_fourth_option%></label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
          <label class="form-check-label" for="inlineRadio5"><%= question.question_fifth_option%></label>
        </div>

        
          
  </div>
  <div class="card-footer text-right">
    <a href="#" class="btn btn-sm btn-dark">Next Question</a>
  </div>
</div>

<%else%>

<h1> This survey has no questions </h1>

<%end%>

<% end %>
