<% if user_signed_in? and @survey.user == current_user %>
<div class="jumbotron mt-5">
  <h1 class="display-4 text-center"><%= @survey.title %></h1>

  <hr class="my-4">
  <p class="text-center">
  <%= link_to 'Back To Surveys List', surveys_path, :class => 'btn btn-md btn-dark' %>
  </p>
</div>
<div class="pt-5 pb-5">
<%= link_to 'Add Question', new_survey_question_path(@survey), :class => 'btn btn-md btn-success' %>
</div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th style="width:50%">Question</th>
      <th style="width:25%">Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
    <%= render @survey.questions %>
    
  </tbody>
</table>

<div class="pb-5">
<%= link_to 'Back To Surveys List', surveys_path, :class => 'btn btn-md btn-dark' %>
</div>

<% else %>
<div class="jumbotron mt-5">
  <h1 class="display-4 text-center"><%= @survey.title %></h1>

  <hr class="my-4">
  <p class="text-center"><%= link_to 'Begin Survey', survey_questions_path(@survey), class: 'btn btn-sm btn-dark'%></p>
</div>



<% end%>

<% console%>

